<div class="article-list">
    <ul>
      <li>
        <h2>Competição de Comida Élfica entre Hulk e Thor</h2>
        <p>O Hulk e o Thor competem para ver quem pode comer mais comida élfica exótica,
           resultando em um empate épico.</p>
           <a href="#">Leia mais</a>
      </li>
      <li>
        <h2>Homem-Aranha e Homem-Formiga se Perdem em um Formigueiro Gigante</h2>
        <p>Durante uma luta, o Homem-Aranha e o Homem-Formiga são encolhidos e se perdem 
           em um formigueiro gigante, onde fazem amizade com formigas e participam de uma
           festa de formigas antes de voltar ao tamanho normal.
        </p>
        <a href="#">Leia mais</a>
      </li>
      <!-- Adicione mais artigos conforme necessário -->
    </ul>
  </div>
  
