<div class="double-card-container">
    <div class="big-card">
      <img src="../../../assets/iron-man-blog.jpg" alt="Imagem de Notícia">
      <!-- Conteúdo do primeiro big card -->
      <h2>Homem de ferro tentar acalmar</h2>
      <p>Porém hulk não se esqueceu da última surra que levou da sua super armadura.</p>
    </div>
    <div class="big-card">
      <img src="../../../assets/thor-blog-noticias.jpg" alt="Imagem de Notícia">
      <!-- Conteúdo do segundo big card -->
      <h2>Thor não esta nem ai pra hulk</h2>
      <p>Segundo thor ele vai quebrar os dentes do hulk por falar dele pelas costas.</p>
    </div>
  </div>
  
  